footer {
    font-family: gtpressura;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 22px;
    width: 100vw;
    height: 75px;
    position: absolute;
    bottom: 0;
    padding: 0 50px;
    letter-spacing: 0.1rem;
    color: black;
}

.preview {
    z-index: 5;
    display: flex;
    height: 100%;
    width: 100%;
    /* padding: 56.25% 0 0 0; */
    position: relative;
    padding: 56.25% 0 0 0;
}

/* LOADING */
.loading-animation {
    font-family: gtpressura;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    z-index: 1;
    margin: 0;
    bottom: 450px;
    font-size: 20px;
    font-weight: bold;
}

.letter {
    display: inline;
}

.loading-o {
    width: 4.95rem;
    margin: 0;
}

/* MD/SM */
@media only screen and (max-width: 768px) {
    footer {
        font-size: 18px;
        height: 80px;
        padding: 0 20px;
        margin-bottom: 20px;
    }

    .loading-animation {
        bottom: 350px;
    }

    .preview {
        transform: translateY(175px);
    }
}
