.toolbar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
}

/* COOOL ANIMATION */
.coool {
    font-family: avantregular;
    text-shadow: 0px 1px, 1px 0px, 1px 0px;
    font-weight: 900;
    font-size: 100px;
    width: 100%;
    margin: 0;
    line-height: 1.4em;
    color: black;
    animation: expand 3s linear -0.07s forwards;
}

.no-animation-coool {
    font-family: avantregular;
    text-shadow: 0px 1px, 1px 0px, 1px 0px;
    font-weight: 900;
    font-size: 100px;
    width: 100%;
    margin: 0;
    line-height: 1.4em;
    color: black;
}

div {
    display: inline;
}

.load-text {
    display: flex;
    width: fit-content;
    padding: 0 5px;
}

.loading-text {
    margin: 0;
    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0; 
    height: 0;
    background: transparent; 
}

button {
    border: none;
    border-radius: 2px;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    z-index: 6;
    position: absolute;
    height: 25px;
    width: 25px;
    margin: 0;
    padding: 0;
}

.arrow {
    display: flex;
    color: rgba(0, 0, 0, 0.507);
    margin: 0;
    position: relative;
    top: 35%;
}

.arrow:hover {
    color: rgba(0, 0, 0, 0.74);
}

svg {
    position: absolute;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.123);
    border-radius: 2px;
}

.right {
    transform: translateX(-7em);
}
.left {
    transform: translateX(7em);
    padding-left: 25px;
}

.each-o:hover {
    color: gray;
}

/* ANIMATION KEYFRAMES */
@keyframes arrow {
    0% { transform: translateY(0); }
    50% { transform: translateY(-0.3em); }
    100% { transform: translateY(0); }
} 

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes expand {
    from {width: 0;}
    to {width: 100%;}
}

hr {
    border-top: 2px solid black;
    margin: 0;
    width: 100%;
}

/* NAV LINKS */
.links {
    z-index: 6;
    position: absolute;
    top: 142px;
    font-family: gtpressura;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.current-link {
    font-size: 30px;
    margin: 0;
    padding: 20px 30px;
    text-decoration: none;
    color: gray;
}

.current-link:hover {
    color: gray;
}

.toolbar-links,
p {
    font-size: 30px;
    margin: 0;
    padding: 20px 30px;
    text-decoration: none;
    color: black;
}

.toolbar-links:hover {
    color: gray;
}

/* PREVIEW ARROW UP ANIMATION */
.up-arrow {
    animation: arrow 1s both infinite;
    padding: 0;
    margin-top: 20px;
}

.preview-container p {
    display: inline;
}

.p-container {
    padding: 20px 15px;
}

.preview-container {
    display: flex;
    animation: fadeIn ease 2s;
}

/* XL */
@media only screen and (max-width: 1280px) {
 
}

/* LG */
@media only screen and (max-width: 1024px) {
   
}

/* MD/SM */
@media only screen and (max-width: 768px) {
    .coool,
    .no-animation-coool {
        font-size: 80px;
        padding: 0px 10px 0px 10px;
    }

    .links {
        top: 125px;
        font-weight: 600;
        padding: 0 20px;
        align-items: center;
    }

    .toolbar-links, .current-link,
    p {
        font-size: 24px;
        margin: 0;
        padding: 8px 0px;
        text-decoration: none;
        color: black;
    }

    .p-container {
        padding: 8px 8px;
    }

    .up-arrow {
        margin-top: 8px;
    }

    .arrow {
        top: 32%;
    }

    .right {
        transform: translateX(-5.5em);
    }
    .left {
        transform: translateX(6.5em);
        padding-left: 0;
    }
}
