.index {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	font-family: gtpressura;
	width: 100%;
	margin: 0;
	border-top: 2px solid black;
	margin-top: 90px;
}

/* XL */
@media only screen and (max-width: 1280px) {
 
}

/* LG */
@media only screen and (max-width: 1024px) {
   
}

/* MD/SM */
@media only screen and (max-width: 768px) {
    .index {
		margin-top: 75px;
	}
}
